<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		Jeux
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/JS/script.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap" rel="stylesheet">
	<link href="/CSS/main.css" rel="stylesheet"/>
	<link type="image/x-icon" rel="shortcut icon" href="/IMAGES/favicon.ico">
</head>
<body class="home">
<nav>
	<a href="/">Accueil</a>
	<div>
		<a href="/clicker">Clicker</a>
		<a href="/reaction"> Reaction</a>
		<a href="/admin"> Admin </a>
	</div>
	<a href="/logout">Déconnexion</a>
</nav>
<div style="margin-top: 100px" class="admin">
	<h1> ADMIN PAGE </h1>
	<table>
		<tr>
			<th> Login </th>
			<th> Pseudo </th>
		</tr>
		<% playersList.forEach(function(player) { %>
		<tr>
		<td> <%= player.login %> </td>
		<td> <%= player.pseudo %> </td>
		<td> <a href="/admin/ban/<%= player.login %>"> Bannir ! </a> </td>
		</tr>
		<% }); %>

	</table>
</div>

<footer>
	<img src="/IMAGES/logo_nodejs.png" alt="Logo NodeJS">
	<p> <b>Projet Express</b> - Clément Hyaumet - Mathieu Termet - © 2019-2020 </p>
	<a href="https://github.com/dersyp/PROJETJAVASCRIPT" target="_blank">
		<img src="/IMAGES/logo_github.png" alt="Logo Github" ></a>
</footer>
</body>
</html>
