<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Inscrivez-vous </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/JS/game1.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/CSS/main.css">
</head>
<body class="home">
<nav>
	<a href="/home">Accueil</a>
	<div>
		<a href="/game1">jeu1</a>
		<a href="/jeu2">jeu2</a>
		<a href="/jeu3">jeu3</a>
	</div>
	<a href="/logout">Déconnexion</a>
</nav>
<div>

	<div class="form">
		<h1> Jeu 1 </h1>
		<p> Tableau des scores </p>
		<p> Meilleur score : <%= scoresList.highScore %> </p>
		<p id="timer"></p>
		<p id="scorePlayer"></p>
		<div id="clickArea" style="background-color: red; width: 200px; height: 200px;"></div>
		<p> Clique sur la zone pour commencer ! </p>
	</div>
<footer>
	<img src="/IMAGES/logo_nodejs.png" alt="Logo NodeJS">
	<p> <b>Projet Express</b> - Clément Hyaumet - Mathieu Termet - © 2019-2020 </p>
	<a href="https://github.com/dersyp/PROJETJAVASCRIPT" target="_blank">
	<img src="/IMAGES/logo_github.png" alt="Logo Github" ></a>
</footer>
</body>
</html>
