<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		Jeux
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/JS/script.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap" rel="stylesheet">
	<link href="/CSS/main.css" rel="stylesheet"/>
	<link type="image/x-icon" rel="shortcut icon" href="/IMAGES/favicon.ico">
</head>
<body class="home">
<nav>
	<a href="/">Accueil</a>
	<div>
		<a href="/game1">Clicker</a>
		<a href="/jeu2">jeu 2</a>
		<a href="/jeu3">jeu 3</a>
	</div>
	<a href="/logout">Déconnexion</a>
</nav>
<div>

</div>

<footer>
	<img src="/IMAGES/logo_nodejs.png" alt="Logo NodeJS">
	<p> <b>Projet Express</b> - Clément Hyaumet - Mathieu Termet - © 2019-2020 </p>
	<a href="https://github.com/dersyp/PROJETJAVASCRIPT" target="_blank">
		<img src="/IMAGES/logo_github.png" alt="Logo Github" ></a>
</footer>
</body>
</html>
