<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		SALUT LES GAMERS
	</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/JS/script.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap" rel="stylesheet">
	<link href="/CSS/main.css" rel="stylesheet"/>
	<link type="image/x-icon" rel="shortcut icon" href="/IMAGES/favicon.ico">
</head>
<body>
	<nav>
		<div class="left-nav">
			<a href="http://www.ankama-group.com/"></a>
		</div>
		<div class="right-nav">
			<a href="/"> Home </a>
			<a href="/game1"> jeu1 </a>
			<a href="/jeu2"> jeu2 </a>
			<a href="/jeu3"> jeu3 </a>
			<a href="/login">Connexion</a>
			<a href="/logout">Deconnexion</a>
		</div>
	</nav>
	<h1> TEST DE RECHERCHE </h1>
	<form method="POST" action="/find">
		<label> Login </label>
		<input type="text" name="login">
		<input type="submit" name="">
	</form>
	<footer>
		<p> Projet Express - Clément Hyaumet - Mathieu Termet - 2019-2020 </p>
	</footer>
</body>
</html>
