<html>
<head>
	<title>
		SALUT LES GAMERS
	</title>
	<link href="/CSS/main.css" rel="stylesheet"/>
	<link type="image/x-icon" rel="shortcut icon" href="/IMAGES/favicon.ico">
</head>
<body>
	<nav>
		<div class="left-nav">
			<a href="http://www.ankama-group.com/"></a>
		</div>
		<div class="right-nav">
			<a href="/home"> Home </a>
			<a href="/jeu1"> jeu1 </a>
			<a href="/jeu2"> jeu2 </a>
			<a href="/jeu3"> jeu3 </a>
			<a href="/login">Connexion</a>
		</div>
	</nav>

	<footer>
		<p> Projet de javascript - Clément Hyaumet - Mathieu Termet - 2019-2020 </p>
	</footer>
</body>
</html>