<!DOCTYPE html>
<html>
<head>
	<title> Connectez-vous </title>
</head>
<body>

	<h1> Connexion </h1>
	<form method="POST" action="/login">
		<label> Login </label>
		<input type="text" name="login">
		<label> Password </label>
		<input type="password" name="password">
		<input type="submit" name="">
	</form>
	<a href="/register">Inscription</a>
</body>
</html>