<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title> Connectez-vous </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="/JS/script.js"></script>

	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;700;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/CSS/main.css">
</head>
<body class="login">
<div class="form">
	<h1> Connexion </h1>
	<form method="POST" action="/login">

		<div class="form-group">
			<label class="form-label" for="login">LOGIN</label>
			<input id="login" name="login" class="form-input loginInput" type="text" />
		</div>
		<div class="form-group">
			<label class="form-label" for="password">MOT DE PASSE</label>
			<input id="password" name="password" class="form-input loginInput" type="password" />
		</div>



		<input class="submit" type="submit" name="">
	</form>
	<a href="/register">Inscription</a>
</div>
</body>
</html>
