<!DOCTYPE html>
<html>
<head>
	<title> Connectez-vous </title>
</head>
<body>

	<h1> Connexion </h1>
	<form method="POST" action="/login">
		<label> Login </label>
		<input type="text" name="">
		<label> Password </label>
		<input type="password" name="">
		<input type="submit" name="">
	</form>

</body>
</html>