<!DOCTYPE html>
<html>
<head>
	<title> Inscrivez-vous </title>
</head>
<body>

	<h1> Inscription </h1>
	<form>
		<label> Pseudo </label>
		<input type="text" name="">
		<label> Login </label>
		<input type="text" name="">
		<label> Password </label>
		<input type="password" name="">
		<input type="submit" name="">
	</form>

</body>
</html>