* {
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
}
.login, .register{
    background: linear-gradient(to right, #ffdd00 0%, #ff5d00 100%);
}
.login .form, .register .form{
    display: flex;
    flex-direction: column;
    width: 30vw;
    position: relative;
    left : 30vw;
    top : 20vh;
    background-color : #3b3b3b;
    text-align: center;
    padding: 0 5vw;
}
.login .form form, .register .form form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.form-group {
    position: relative;
}
.form-group + .form-group {
    margin-top: 30px;
}

.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    color: #aaaaaa;
    background-color: #3b3b3b;
    z-index: 10;
    -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
    -webkit-transform: translateY(-125%);
    transform: translateY(-125%);
    font-size: .75em;
}

.form-input {
    position: relative;
    padding: 12px 0px 7px 0;
    width: 100%;
    outline: 0;
    font-size: 16px;
    border: 0;
    color : #aaaaaa;
    background-color : #3b3b3b;
    box-shadow: 0 1px 0 0 #ff8400;
    -webkit-transition: box-shadow 150ms ease-out;
    transition: box-shadow 150ms ease-out;
}
.form-input:focus {
    box-shadow: 0 2px 0 0 #ff0000;
}

.form-input.filled {
    box-shadow: 0 2px 0 0 #ffd600;
}

.login .submit, .register .submit{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #3b3b3b;
    background: linear-gradient(to right, #ffdd00 , #ff5d00 ,#ffdd00 );
    background-size: 300% 100%;
    border: none;
    border-radius: 20px;
    width: 50%;
    transition: background .4s ease-in-out;
    padding: 10px;
    margin: 40px auto 20px auto;
    box-shadow:0px 0px 10px #ff8f3c;
    outline: none;
}

.login .submit:hover,.register .submit:hover{
    cursor: pointer;
    transition: all .4s ease-in-out;
    background-position: 100% 0;
}
.login p, .register p {
    color : #aaaaaa ;
}
.login a, .register a {
    color: orange;
    font-weight: bold;
    text-decoration: none;

}
nav{
    position: absolute;
    top: 0;
    height: 10vh;
    width: 100vw;
    display: flex;
    background: #3b3b3b;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    font-weight: 400 ;
    font-size: 20px;
    color : white;
    text-transform: uppercase;
    border : none;
    transition: border .2s;

}
nav>a:hover{
    transition: border .1s;
    border-bottom: 5px solid white;
}
nav>a:first-child{
    margin-top: 3.5vh;
    color : orange;
    font-weight: bold;
    margin-left: 50px;
}
nav>a:last-child{
    margin-top: 3.5vh;
    margin-right: 50px;
}
nav>div{
    vertical-align: center;
    align-content: center;
    display: flex;
    width: 30vw;
    justify-content: center;
}
nav>div>a{
    padding: 3.5vh 40px 0 40px;
    background-color : #3b3b3b;
    transition: background-color 1s;

}
nav>div>a:hover{
    background: linear-gradient(45deg, #ffbd00, #ff9a00, #ff6d00, #ff3400);
    background-size: 200% 200%;
    animation: gradient 3s ease infinite;
    transition: background-color 1s;
}

.login h1, .register h1 {
    background: linear-gradient(to right, #ffdd00 0%, #ff5d00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin: 30px 0 10px 0;
}

footer{
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    text-align: center;
    color : white ;
    background-color: #3b3b3b;
    display: flex;
    justify-content: center;
}
footer p{
    padding: 0 20px;
    background: linear-gradient(to right, #ffdd00 0%, #ff5d00 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer img, footer a{
    width: 50px;
    align-self: center;
}
footer img:last-child{
    width: 25px;
}
/*body.home {*/
/*    background: linear-gradient(45deg, #ffbd00, #ff9a00, #ff6d00, #ff3400);*/
/*    background-size: 400% 400%;*/
/*    animation: gradient 15s ease infinite;*/
/*}*/

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.game1{
    background-color: #0e0e0e;
}
.game1>div{
    margin-top: 15vh;
    width: 100vw;
}
.game1 .game{
    width: 70%;
    text-align: center;
    margin: auto;
}
.game1 .game h1{
    font-weight: bold;
    text-transform: uppercase;
    color: #ffdd00;
    margin-bottom: 50px;
}
.game1 .game>div{
    display: flex;
    justify-content: space-between;

}
.clickArea{
    background: linear-gradient(45deg, #ffbd00, #ff9a00, #ff6d00, #ff3400);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
    width: 30vw;
    height : 30vw;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    transform-origin: center;

}

.clickArea:hover{
    cursor: pointer;
}
.game1 .infos{
    text-align: left;
    position: relative;
    left: -20vh;
}
.game1 .infos p{
    color : white;
    font-size: 30px;

}
.game1 .game .clique{
    color:#3b3b3b ;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    align-self: center;

}

.dot {
    height: 2px;
    width: 2px;
    border-radius: 100%;
    position: absolute;
    z-index: 0;
    animation: click 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    background: transparent;
}

body.game1 .game .blop{
    animation:gradient 2s ease infinite, blop 0.1s ease-out;
}

.game1 .classement table{
    margin: auto;
    margin-bottom: 50px;
    width: 30vw;

}


@keyframes blop {
    0%{
        height: 30vw;
        width: 30vw;
    }
    50%{
        height: 29.5vw;
        width:29.5vw;
    }
    100%{
        height: 30vw;
        width: 30vw;
    }
}
@keyframes click {
    0% {
        box-shadow: 0 0 0 0px rgba(255, 30, 0, 0.7);
        background: rgba(255, 215, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 200px rgba(255, 169, 0, 0);
        background: rgba(255, 225, 0, 0);
    }
}
.home{
    margin-top: 100px;
    text-align: center;
}
.admin table{
    margin: auto;

}
.admin table a{
    text-decoration: none;
    font-weight: bold;
    color : orangered;
}
.admin table{
    font-size: 20px;
}
